code/.ipynb_checkpoints/
code/__pycache__/
data/raw/
data/cleaned/
code/params/.ipynb_checkpoints/
code/test_infection_dynamics.ipynb
code/exploratory*
data/documents/
data/sample_networks/
data/simulation_results/
plots/
